#demo{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);

    #box{
        height: 100px;
        width: 100px;
        background-color: var(--white);
        border-radius: 100%;
    }
}