#garden{
    background-color: black;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". garden .";
    margin: 24px 0;

    @include md{
        grid-template-columns: auto 90vw auto;
        margin: 48px 0;
    }

    @include lg{
        grid-template-columns: auto 80vw auto;
        margin: 64px 0;
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: garden;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }

        section{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 60px;

            h1{
                font-weight: 400;
                font-size: rem-calc(40);
                color: var(--white);
                text-align: center;
            }

            p{
                font-weight: 200;
                font-size: rem-calc(20);
                color: var(--white);
                text-align: center;
            }
        }

        aside{
            height: 100vh;
            overflow: hidden;

            @include md{
                height: 70vh;
            }

            div{
                background-image: url("../img/garden/garden.jpg");
                background-size: cover;
                background-position: center;
                height: 100%;
            }
        }
    }
}