#section-1{
    background-color: var(--aqua);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url("../img/2.jpg");
    background-size: cover;
    opacity: 95%;

    color: antiquewhite;
    text-shadow: 0px 2px 6px rgb(41, 41, 41);

    button{
        background-color: var(antiquewhite);
        box-shadow: 0px 2px 6px rgb(41, 41, 41);
        font-weight: 700;
        padding: 10px;
        width:flex;
        text-decoration: none;
        border: transparent;
        border-radius: 100px;
        text-align: center;
      }

}