#section-3 {
	background-color: var(--yellow);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/4.jpg");
    background-size: cover;
	opacity: 95%;

	color: antiquewhite;
    text-shadow: 0px 2px 6px rgb(41, 41, 41);
}
